In [418]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark Titanic Dataset") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-2-40d837a054e1>:2

In [430]:
df = spark.read.csv('data/Titanic.csv',header=True, inferSchema = True)

In [431]:
df = df.drop('_c0')

In [432]:
# Drop Columns with Null Values
df = df.na.drop()

In [433]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|   53.1| C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|   17463|51.8625|  E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1| PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|  26.55| C103|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

In [434]:
df.take(5)

[Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=7, Survived=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket='17463', Fare=51.8625, Cabin='E46', Embarked='S'),
 Row(PassengerId=11, Survived=1, Pclass=3, Name='Sandstrom, Miss. Marguerite Rut', Sex='female', Age=4.0, SibSp=1, Parch=1, Ticket='PP 9549', Fare=16.7, Cabin='G6', Embarked='S'),
 Row(PassengerId=12, Survived=1, Pclass=1, Name='Bonnell, Miss. Elizabeth', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket='113783', Fare=26.55, Cabin='C103', Embarked='S')]

In [435]:
df.describe

<bound method DataFrame.describe of DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]>

In [436]:
type(df)

pyspark.sql.dataframe.DataFrame

In [437]:
df.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [438]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [439]:
# See the number of passengers under 25
df.filter(df.Age < 25).count()

48

In [440]:
# Show passengers under 25
df.filter(df.Age < 25).show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|          Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1| PP 9549|    16.7|             G6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|PC 17759| 63.3583|        D10 D12|       C|
|        103|       0|     1|White, Mr. Richar...|  male|21.0|    0|    1|   35281| 77.2875|            D26|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|        B58 B60|       C|
|        137|       1|     1|Newsom, Miss. Hel...|female|19.0|    0|    2|   11752| 26.2833|            D47|       S|
|        140|       0|     1|  Giglio, Mr. Victor|  male|24.0|    0|    0|PC 17593|    79.2|            B86|       C|
|        152|       1|     1|Pears, Mrs. Thoma...|female|22.0|    1|    0|  113776|    66.6|             C2|       S|
|        184|       1|     2|Becker, Master. R...|  male| 1.0|    2|    1|  230136|    39.0|             F4|       S|
|        194|       1|     2|Navratil, Master....|  male| 3.0|    1|    1|  230080|    26.0|             F2|       S|
|        206|       0|     3|Strom, Miss. Telm...|female| 2.0|    0|    1|  347054| 10.4625|             G6|       S|
|        292|       1|     1|Bishop, Mrs. Dick...|female|19.0|    1|    0|   11967| 91.0792|            B49|       C|
|        298|       0|     1|Allison, Miss. He...|female| 2.0|    1|    2|  113781|  151.55|        C22 C26|       S|
|        306|       1|     1|Allison, Master. ...|  male|0.92|    1|    2|  113781|  151.55|        C22 C26|       S|
|        308|       1|     1|Penasco y Castell...|female|17.0|    1|    0|PC 17758|   108.9|            C65|       C|
|        311|       1|     1|Hays, Miss. Marga...|female|24.0|    0|    0|   11767| 83.1583|            C54|       C|
|        312|       1|     1|Ryerson, Miss. Em...|female|18.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        330|       1|     1|Hippach, Miss. Je...|female|16.0|    0|    1|  111361| 57.9792|            B18|       C|
|        341|       1|     2|Navratil, Master....|  male| 2.0|    1|    1|  230080|    26.0|             F2|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
only showing top 20 rows

In [441]:
# Display the mean age and Std. dev.
from pyspark.sql.functions import mean, stddev

df.select(mean(df.Age), stddev(df.Age)).show()

+----------------+------------------+
|        avg(Age)|  stddev_samp(Age)|
+----------------+------------------+
|35.6744262295082|15.643865966849717|
+----------------+------------------+

In [442]:
# See the amount of people who embarked from S
df.filter(df.Embarked == 'S').count()

116

In [443]:
# Show the people who embarked from S
df.filter(df.Embarked == 'S').show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|     113803|   53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|      17463|51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|    PP 9549|   16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|     113783|  26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|     248698|   13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|     113788|   35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|      19950|  263.0|C23 C25 C27|       S|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|      36973| 83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0| C.A. 29395|   10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|     348123|   7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|      19950|  263.0|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|W.E.P. 5734| 61.175|        E31|       S|
|        103|       0|     1|White, Mr. Richar...|  male|21.0|    0|    1|      35281|77.2875|        D26|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male|47.0|    0|    0|     110465|   52.0|       C110|       S|
|        124|       1|     2| Webber, Miss. Susan|female|32.5|    0|    0|      27267|   13.0|       E101|       S|
|        125|       0|     1|White, Mr. Perciv...|  male|54.0|    0|    1|      35281|77.2875|        D26|       S|
|        137|       1|     1|Newsom, Miss. Hel...|female|19.0|    0|    2|      11752|26.2833|        D47|       S|
|        138|       0|     1|Futrelle, Mr. Jac...|  male|37.0|    1|    0|     113803|   53.1|       C123|       S|
|        149|       0|     2|"Navratil, Mr. Mi...|  male|36.5|    0|    2|     230080|   26.0|         F2|       S|
|        152|       1|     1|Pears, Mrs. Thoma...|female|22.0|    1|    0|     113776|   66.6|         C2|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----------+--------+
only showing top 20 rows

In [444]:
df = df.select('Survived', 'Sex', 'Embarked', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare')
cols = df.columns

In [445]:
# Transform datatypes for training
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = ['Sex', 'Embarked']
stages = []
for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]
label_stringIdx = StringIndexer(inputCol = 'Survived', outputCol = 'label')
stages += [label_stringIdx]
numericCols = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [446]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df)
df = pipelineModel.transform(df)
selectedCols = ['label', 'features'] + cols
df = df.select(selectedCols)
df.printSchema()

root
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: double (nullable = true)

Exception ignored in: <function JavaModelWrapper.__del__ at 0x11f65a290>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/pyspark/mllib/common.py", line 142, in __del__
    self._sc._gateway.detach(self._java_model)
AttributeError: 'MulticlassMetrics' object has no attribute '_sc'

In [447]:
df_RDD = df.rdd.map(list)

In [448]:
df_RDD.take(10)

[[0.0,
  DenseVector([0.0, 0.0, 1.0, 1.0, 38.0, 1.0, 0.0, 71.2833]),
  1,
  'female',
  'C',
  1,
  38.0,
  1,
  0,
  71.2833],
 [0.0,
  DenseVector([0.0, 1.0, 0.0, 1.0, 35.0, 1.0, 0.0, 53.1]),
  1,
  'female',
  'S',
  1,
  35.0,
  1,
  0,
  53.1],
 [1.0,
  DenseVector([1.0, 1.0, 0.0, 1.0, 54.0, 0.0, 0.0, 51.8625]),
  0,
  'male',
  'S',
  1,
  54.0,
  0,
  0,
  51.8625],
 [0.0,
  DenseVector([0.0, 1.0, 0.0, 3.0, 4.0, 1.0, 1.0, 16.7]),
  1,
  'female',
  'S',
  3,
  4.0,
  1,
  1,
  16.7],
 [0.0,
  SparseVector(8, {1: 1.0, 3: 1.0, 4: 58.0, 7: 26.55}),
  1,
  'female',
  'S',
  1,
  58.0,
  0,
  0,
  26.55],
 [0.0,
  DenseVector([1.0, 1.0, 0.0, 2.0, 34.0, 0.0, 0.0, 13.0]),
  1,
  'male',
  'S',
  2,
  34.0,
  0,
  0,
  13.0],
 [0.0,
  DenseVector([1.0, 1.0, 0.0, 1.0, 28.0, 0.0, 0.0, 35.5]),
  1,
  'male',
  'S',
  1,
  28.0,
  0,
  0,
  35.5],
 [1.0,
  DenseVector([1.0, 1.0, 0.0, 1.0, 19.0, 3.0, 2.0, 263.0]),
  0,
  'male',
  'S',
  1,
  19.0,
  3,
  2,
  263.0],
 [0.0,
  DenseVector([0.0, 0.0, 1.0, 1.0, 49.0, 1.0, 0.0, 76.7292]),
  1,
  'female',
  'C',
  1,
  49.0,
  1,
  0,
  76.7292],
 [1.0,
  DenseVector([1.0, 0.0, 1.0, 1.0, 65.0, 0.0, 1.0, 61.9792]),
  0,
  'male',
  'C',
  1,
  65.0,
  0,
  1,
  61.9792]]

In [449]:
train, test = df.randomSplit([0.7, 0.3])

In [450]:
# Trains model
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol = 'features', labelCol = 'label', maxIter=10)
lrModel = lr.fit(train)

In [451]:
lrModel.numFeatures

8

In [452]:
lrModel.coefficients

DenseVector([2.596, -2.045, -2.5165, 0.0528, 0.0319, -0.1526, 0.7515, -0.0025])

In [453]:
lrModel.intercept

-1.4599496697453724

In [454]:
# Get accuracy of trained model
trainingSummary = lrModel.summary
print(trainingSummary.accuracy)

0.7652173913043478